header{
    height: 90px;
    padding: 12px;
    border-bottom: #000022 2px solid;
    display: flex;
    justify-content: space-between;
}
#logo{
    width: 90px;
    height: 90px;
    border-radius: 50px;
    margin-top: 0px;
}
#hero {
    padding: 100px 0;
}
li a{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    text-decoration: none;
    color: antiquewhite;
}
li a:hover{
    font-size: 24px;
    transition: all 0.3s ease;
}
.active{
    font-size: 24px;
    transition: all 0.3s ease;
    border-bottom: 2px solid antiquewhite;
}
#top{
    color: #000022;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    margin-right: 500px;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 30px;
    font-size: 20px;
}
body{
    background-image: linear-gradient(to bottom, #000022, #87CEEB);
    background-attachment: fixed;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#img1{
    display: block;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 20px;
    
}
#img3{
    display: block;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 20px;
    border-radius: 50px;
}
h1 { 
    font-size: 54px; 
    margin-bottom: 10px; 
    font-weight: bold; 
    color: whitesmoke;
    margin-left: 400px;
}
#texte{
    font-size: 20px;
    color: rgb(184, 182, 182);
    margin-left: 100px;
}
.product-container {
    display: flex; 
    max-width: 1000px; 
    margin: 50px auto;
    background: white; 
    padding: 30px; 
    border-radius: 15px; 
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}
.product-image img { 
    width: 100%; 
    border-radius: 10px; 
}
.product-details { 
    padding: 
    0 40px;
}
.price { font-size: 2rem; 
    color: #00bcd4; 
    font-weight: bold; }
.btn-buy  { 
    width: 50%;
    padding: 20px; 
    background: #1a237e; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 1.2rem;
    margin-top: 20px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-buy a{
    text-decoration: none;
    color: white;
}
.btn-buy:hover { 
    background: #3949ab;}
.image-gallery {
    display: flex; 
    gap: 15px; 
    margin: 30px 10px;
    justify-content: center;
    align-items: center;
}

.image-gallery img { 
    object-fit: cover; 
    border-radius: 10px; 
    transition: border 0.3s ease;
    width: 600px;

}


footer{
    height: 80px;
    padding: 12px;
    border-top: #000022 2px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(to bottom,white,black);
}
#contact a{
    text-decoration: none;
    color: #000022;
    font-size: 18px;
    transition: all 0.3s ease;
}
#contact a:hover{
    font-size: 20px;
    transition: all 0.3s ease;
}